<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">
  <appender name="file-appender" type="log4net.Appender.RollingFileAppender">
    <file value="${LOGDIR}\Training\log.txt" />
    <param name="AppendToFile" value="true"/>
    <maxSizeRollBackups value="100" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <param name="RollingStyle" value="Date"/>
    <param name="DatePattern" value="_yyyyMMdd.'txt'"/>
    <param name="StaticLogFileName" value="true"/>
    <maximumFileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date, [%thread], %-5level, %logger [%property{NDC}] , %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="file-appender" />
  </root>
</log4net>