<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">
  <appender name="file-appender" type="log4net.Appender.RollingfileAppender">
    <file value="${LOGDIR}\Training\Training_Site_%env{COMPUTERNAME}_.log" />
    <param name="AppendTofile" value="true"/>
    <maxSizeRollBackups value="100" />
    <lockingModel type="log4net.Appender.fileAppender+MinimalLock"/>
    <param name="RollingStyle" value="Date"/>
    <param name="DatePattern" value="_yyyyMMdd-HH0000.'txt'"/>
    <param name="StaticLogfileName" value="true"/>
    <maximumfileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date, [%thread], %-5level, %logger [%property{NDC}] , %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="file-appender" />
  </root>
</log4net>