<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TokenConfigSection" type=" SQlExecute.Models.TokenConfigSection, SQlExecute" allowLocation="true" allowDefinition="Everywhere" />
    <!--<sectionGroup name="TokenGroup">

    </sectionGroup>-->
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />      
    </startup>
  <appSettings>
    <add key="DataDirectory" value="..\ACTransit.Training\Web\App_Data\"/>
    <add key="ScriptDirectory" value="..\..\"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="default" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\atajadod\AppData\Local\Temporary Projects\SQlExecute\InternalDatabase.mdf";Integrated Security=True'/>-->
    <add name="default" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="|DataDirectory|Training.mdf";Integrated Security=True'/>    
  </connectionStrings>
  <TokenConfigSection>
    <Tokens>
      <add TokenName="@EmployeeDW" TokenValue="|DataDirectory|EmployeeDW.mdf" />
      <add TokenName="@MaintenanceDW" TokenValue="|DataDirectory|MaintenanceDW.mdf" />
      <add TokenName="@SchedulingDW" TokenValue="|DataDirectory|SchedulingDW.mdf" />
      <add TokenName="@ReplaceWithEmployeeDW" TokenValue="|DataDirectory|EmployeeDW.mdf" />
      <add TokenName="@ReplaceWithMaintenanceDW" TokenValue="|DataDirectory|MaintenanceDW.mdf" />
      <add TokenName="@ReplaceWithSchedulingDW" TokenValue="|DataDirectory|SchedulingDW.mdf" />
    </Tokens>
  </TokenConfigSection>

</configuration>