@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
@if (TempData.ContainsKey("ErrorMessage"))
{
    <h2 class="text-danger"> @TempData["ErrorMessage"]</h2>
}
else
{
    <h2 class="text-danger"> An error occurred while processing your request.</h2>
}
